
<h1>
  Form
</h1>

<form>
  {{#each formFields as |field|}}
    <p>
      {{field.label}}
      <input type={{field.type}} value={{field.value}} {{action "doEvent" field on="change"}}>
    </p>
  {{/each}}
</form>

{{outlet}}
